# Maven / Gradle
target/
!.mvn/wrapper/maven-wrapper.jar
!.gradle/wrapper/gradle-wrapper.jar
build/

# Java
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.project
*.classpath

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot
*.h2.db
*.mv.db

# Security
application-*.yml
application-*.properties
.secret
.env
